In [3]:
import numpy as np 
import pandas as pd 

vtes_cream = np.array ([30,40,35,130,120,60])
code_meteo = np.array([0,1,0,1,1,0])
nbre_clients = np.array([2000,2100,1500,8000,7200,2000])

df = pd.DataFrame({"vtes": vtes_cream, "code": code_meteo, "clients" : nbre_clients})
print(f"Tab1 : \n{df}")

Tab1 :
   vtes  code  clients
0    30     0     2000
1    40     1     2100
2    35     0     1500
3   130     1     8000
4   120     1     7200
5    60     0     2000

In [6]:
monIndex = pd.date_range(start="04/2010", freq="ME", periods=6)
df.set_index(monIndex,inplace=True)
print(f"Tab2 : \n{df}")

Tab2 :
            vtes  code  clients
2010-04-30    30     0     2000
2010-05-31    40     1     2100
2010-06-30    35     0     1500
2010-07-31   130     1     8000
2010-08-31   120     1     7200
2010-09-30    60     0     2000

In [8]:
df["vtes_lag"]=df["vtes"].shift(2)
print(f"Tab3 : \n{df}")

Tab3 :
            vtes  code  clients  vtes_lag
2010-04-30    30     0     2000       NaN
2010-05-31    40     1     2100       NaN
2010-06-30    35     0     1500      30.0
2010-07-31   130     1     8000      40.0
2010-08-31   120     1     7200      35.0
2010-09-30    60     0     2000     130.0

In [10]:
df["meteo"]= pd.Categorical.from_codes(codes=df["code"], categories=["mauvais","bon"])
print(f"Tab4: \n{df}")

Tab4:
            vtes  code  clients  vtes_lag    meteo
2010-04-30    30     0     2000       NaN  mauvais
2010-05-31    40     1     2100       NaN      bon
2010-06-30    35     0     1500      30.0  mauvais
2010-07-31   130     1     8000      40.0      bon
2010-08-31   120     1     7200      35.0      bon
2010-09-30    60     0     2000     130.0  mauvais

In [12]:
group_mean= df.groupby("meteo").mean()
print(f"Tab5 : \n{group_mean}")

Tab5 :
              vtes  code      clients  vtes_lag
meteo
mauvais  41.666667   0.0  1833.333333      80.0
bon      96.666667   1.0  5766.666667      37.5

C:\Users\ramda\AppData\Local\Temp\ipykernel_9904\985082559.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  group_mean= df.groupby("meteo").mean()

In [3]:
import wooldridge as woo 
import pandas as pd

wage1= woo.dataWoo("wage1")
print(f"wage1 est : \n{wage1}")

wage1 est :
      wage  educ  exper  tenure  nonwhite  female  married  numdep  smsa  \
0     3.10    11      2       0         0       1        0       2     1
1     3.24    12     22       2         0       1        1       3     1
2     3.00    11      2       0         0       0        0       2     0
3     6.00     8     44      28         0       0        1       0     1
4     5.30    12      7       2         0       0        1       1     0
..     ...   ...    ...     ...       ...     ...      ...     ...   ...
521  15.00    16     14       2         0       1        1       2     0
522   2.27    10      2       0         0       1        0       3     0
523   4.67    15     13      18         0       0        1       3     0
524  11.56    16      5       1         0       0        1       0     0
525   3.50    14      5       4         1       1        0       2     0

     northcen  ...  trcommpu  trade  services  profserv  profocc  clerocc  \
0           0  ...         0      0         0         0        0        0
1           0  ...         0      0         1         0        0        0
2           0  ...         0      1         0         0        0        0
3           0  ...         0      0         0         0        0        1
4           0  ...         0      0         0         0        0        0
..        ...  ...       ...    ...       ...       ...      ...      ...
521         0  ...         0      0         0         1        1        0
522         0  ...         0      1         0         0        1        0
523         0  ...         0      0         0         0        1        0
524         0  ...         0      0         0         0        0        0
525         0  ...         0      0         0         1        0        1

     servocc     lwage  expersq  tenursq
0          0  1.131402        4        0
1          1  1.175573      484        4
2          0  1.098612        4        0
3          0  1.791759     1936      784
4          0  1.667707       49        4
..       ...       ...      ...      ...
521        0  2.708050      196        4
522        0  0.819780        4        0
523        0  1.541159      169      324
524        0  2.447551       25        1
525        0  1.252763       25       16

[526 rows x 24 columns]

In [4]:
print(f"Wage1 Premières lignes \n{wage1.head}")

Wage1 Premières lignes
<bound method NDFrame.head of       wage  educ  exper  tenure  nonwhite  female  married  numdep  smsa  \
0     3.10    11      2       0         0       1        0       2     1
1     3.24    12     22       2         0       1        1       3     1
2     3.00    11      2       0         0       0        0       2     0
3     6.00     8     44      28         0       0        1       0     1
4     5.30    12      7       2         0       0        1       1     0
..     ...   ...    ...     ...       ...     ...      ...     ...   ...
521  15.00    16     14       2         0       1        1       2     0
522   2.27    10      2       0         0       1        0       3     0
523   4.67    15     13      18         0       0        1       3     0
524  11.56    16      5       1         0       0        1       0     0
525   3.50    14      5       4         1       1        0       2     0

     northcen  ...  trcommpu  trade  services  profserv  profocc  clerocc  \
0           0  ...         0      0         0         0        0        0
1           0  ...         0      0         1         0        0        0
2           0  ...         0      1         0         0        0        0
3           0  ...         0      0         0         0        0        1
4           0  ...         0      0         0         0        0        0
..        ...  ...       ...    ...       ...       ...      ...      ...
521         0  ...         0      0         0         1        1        0
522         0  ...         0      1         0         0        1        0
523         0  ...         0      0         0         0        1        0
524         0  ...         0      0         0         0        0        0
525         0  ...         0      0         0         1        0        1

     servocc     lwage  expersq  tenursq
0          0  1.131402        4        0
1          1  1.175573      484        4
2          0  1.098612        4        0
3          0  1.791759     1936      784
4          0  1.667707       49        4
..       ...       ...      ...      ...
521        0  2.708050      196        4
522        0  0.819780        4        0
523        0  1.541159      169      324
524        0  2.447551       25        1
525        0  1.252763       25       16

[526 rows x 24 columns]>

In [2]:
%pip install matplotlib
import matplotlib.pyplot as plt
x=[1,3,4,7,8,9]
y=[0,3,6,9,7,8]
plt.plot(x,y)
plt.savefig('PyGraphs/Graphs-Basics-a.pdf')

^C
Note: you may need to restart the kernel to use updated packages.

ModuleNotFoundError: No module named 'matplotlib'